:root {

}

.kpo-notification {
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
}

.kpo-notification-error {
    background-image: linear-gradient(to bottom, #E97777  5%, #FF9F9F  100%);
    box-shadow: 0 0 10px #333333;
    border-radius: 5px;
    padding: 25px 50px;
}

.kpo-notification-text {
    color: #000000;
    margin: 0;
}

.kpo-notification-success {
    background-image: linear-gradient(to bottom, #AAC8A7   5%, #C3EDC0   100%);
    box-shadow: 0 0 10px #333333;
    border-radius: 15px;
    padding: 25px 50px;
}

/*
 * Popup
 */
.kpo-popup-overlay {
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    display: none;
    height: 100vh;
    z-index: 999;
    width: 100vw;
    left: 0;
    top: 0;
}

.kpo-popup {
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px #333333;
    background-color: #FFFFFF;
    border-radius: 5px;
    position: absolute;
    z-index: 9999;
    display: none;
    left: 50%;
    top: 50%;
}

.kpo-popup-title {
    border-bottom: 1px solid #C0C0C0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    padding: 10px;
}

.kpo-popup-content {
    padding: 10px;
}

/*
 * Loading Circle
 */
.kpo-loading-circle-overlay {
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    display: none;
    height: 100vh;
    z-index: 999;
    width: 100vw;
    left: 0;
    top: 0;
}

.kpo-loading-circle-wrapper {
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
}

.kpo-loading-circle {
    animation: kpo-spin 2s linear infinite;
    border-bottom: 12px solid #333333;
    border-right: 12px solid #333333;
    border-left: 12px solid #333333;
    border-top: 12px solid  #E97777;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 80px;
}

@keyframes kpo-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}