.kpo-notification {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.kpo-notification-error {
    background-image: linear-gradient(to bottom, #E97777  5%, #FF9F9F  100%);
    box-shadow: 0 0 10px #333333;
    border-radius: 5px;
    padding: 25px 50px;
}

.kpo-notification-text {
    color: #000000;
    margin: 0;
}

.kpo-notification-success {
    background-image: linear-gradient(to bottom, #AAC8A7   5%, #C3EDC0   100%);
    box-shadow: 0 0 10px #333333;
    border-radius: 15px;
    padding: 25px 50px;
}